<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
   <welcome-file-list>
		<welcome-file>intro.html</welcome-file>
	</welcome-file-list>
   
    <servlet>
        <description></description>
        <display-name>SearchController</display-name>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>aiss.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description></description>
        <display-name>SearchControllerOption</display-name>
        <servlet-name>SearchControllerOption</servlet-name>
        <servlet-class>aiss.SearchControllerOption</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchControllerOption</servlet-name>
        <url-pattern>/SearchControllerOption</url-pattern>
    </servlet-mapping>
    
<!--<servlet>
        <description></description>
        <display-name>SearchControllerGC</display-name>
        <servlet-name>SearchControllerGC</servlet-name>
        <servlet-class>aiss.SearchControllerGC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchControllerGC</servlet-name>
        <url-pattern>/SearchControllerGC</url-pattern>
    </servlet-mapping>
--> 
    <!--  OAUTH SERVLETS 

      For each OAuth 2.0 service, you need to create two servlets: one for the initiation 
      and another for the callback. After sucess the token for the provider will be available
      in the session scope under the name <provider>-token. E.g.: Spotify-token.

      Those servlets support 2 parameters:
       - provider: which is mandatory and specifies the configuration from the OAuthConfig.json file which
          will be applied.
       - onSuccess: which is optional specifies the behaviour of the servlet after an successful 
           authorization. If you specify close as the value of the parameter, the page will close. If you
           specify redirect:XXXX, the page will be redirected to XXXX.

      WARNING: The url-patterns of all the servlets mus be disjoint. 
              Our recommendation is that if you expecify X as the provider, the url-pattern of the 
              initiation servlet could be    /AuthController/X, and the url-pattern of the callback
               servlet must be /oauth2callback/X.
  -->
  <!--    Spotify example -->
  <servlet>
    <description></description>
    <servlet-name>SpotifyAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
        <param-name>provider</param-name>
        <param-value>Spotify</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotifyAuthController</servlet-name>
    <url-pattern>/AuthController/Spotify</url-pattern>
  </servlet-mapping>
  
  <!--  SpotifyOAuth2Callback -->
  <servlet>
    <description></description>
    <servlet-name>SpotifyOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
        <param-name>provider</param-name>
        <param-value>Spotify</param-value>
    </init-param>
    <init-param>
        <param-name>onSuccess</param-name>
        <param-value>redirect:/SearchControllerOption</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotifyOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/Spotify</url-pattern>
  </servlet-mapping>
  
    <!--    Google Calendar -->
  <servlet>
    <description></description>
    <servlet-name>GoogleCalendarAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
        <param-name>provider</param-name>
        <param-value>GoogleCalendar</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarAuthController</servlet-name>
    <url-pattern>/AuthController/GoogleCalendar</url-pattern>
  </servlet-mapping>
  
  <!--  GCalendarOAuth2Callback -->
  <servlet>
    <description></description>
    <servlet-name>GoogleCalendarOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
        <param-name>provider</param-name>
        <param-value>GoogleCalendar</param-value>
    </init-param>
    <init-param>
        <param-name>onSuccess</param-name>
        <param-value>redirect:/SearchControllerOption</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/GoogleCalendar</url-pattern>
  </servlet-mapping>

</web-app>