<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>intro.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchControllerOption</display-name>
    <servlet-name>SearchControllerOption</servlet-name>
    <servlet-class>aiss.SearchControllerOption</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchControllerOption</servlet-name>
    <url-pattern>/SearchControllerOption</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEventController</display-name>
    <servlet-name>AddEventController</servlet-name>
    <servlet-class>aiss.AddEventController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEventController</servlet-name>
    <url-pattern>/addEventController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaylistController</display-name>
    <servlet-name>PlaylistController</servlet-name>
    <servlet-class>aiss.PlaylistController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaylistController</servlet-name>
    <url-pattern>/PlaylistController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSongController</display-name>
    <servlet-name>AddSongController</servlet-name>
    <servlet-class>aiss.AddSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSongController</servlet-name>
    <url-pattern>/AddSongController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>SpotifyAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Spotify</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotifyAuthController</servlet-name>
    <url-pattern>/AuthController/Spotify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>SpotifyOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Spotify</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/SearchControllerOption</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotifyOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/Spotify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GoogleCalendarAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleCalendar</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarAuthController</servlet-name>
    <url-pattern>/AuthController/GoogleCalendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GoogleCalendarOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleCalendar</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/SearchControllerOption</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/GoogleCalendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>followSongController</display-name>
    <servlet-name>followSongController</servlet-name>
    <servlet-class>aiss.followSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>followSongController</servlet-name>
    <url-pattern>/followSongController</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>UnFollowSongController</display-name>
    <servlet-name>UnFollowSongController</servlet-name>
    <servlet-class>aiss.UnFollowSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnFollowSongController</servlet-name>
    <url-pattern>/UnFollowSongController</url-pattern>
  </servlet-mapping>
</web-app>