body {
	background-color: #F0EBE9;
}

.imgs {
	margin: 14vh 0vw 0 7vw;
}

img {
	width: 13vw;
	margin: 5px;
	float: left;
}

.abajo {
	margin: 70px 0;
}

.texto {
	box-shadow: 0 0 15px black;
	float: right;
	width: 20vw;
	margin: 10vh 5vw 0 0;
	background-color: white;
	padding: 50px;
}

h1 {
	font-family: 'Rubik', sans-serif;
}

p {
	font-family: 'Open Sans Condensed', sans-serif;
}