h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 10px;
	text-align: center;
	color: #8b55ac;
	font-family: 'Monoton', cursive;

}


#searchDiv {
	border: 1px black;
	margin: 10px;
	display: block;
	padding: 50px;
	text-align: center;
	
}

#searchForm input {
	width: 200px;
	margin: 20px;
}

span {
	font-size: 20px;
	margin: 10px;
	text-align: center;
	color: #8b55ac;
}



body {
	width: 100%;
	margin: 0;
	background-image:
		url("https://los40.com/los40/imagenes/2018/07/04/musica/1530694278_684908_1530701108_gigante_normal.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: left center;
	align-items: center;

}

form {
	margin: 0 auto;
	display: block;
	width: max-content;
	height: max-content;
	
}

.form_inicio {
	margin: 12px 0;
}

label {
	font-size: 19px;
	color: #8b55ac;
}

.form_inicio input {
	width: 320px;
	height: 22px;
	padding: 2px 10px;
	font-size: 15px;
	float: right;
	
}

form>input:last-child {
	display: block;
	width: 60%;
	padding: 8px 44px;
	float: right;
	background-color: #8b55ac;
	border: none;
	color: white;
	font-family: 'Monoton', cursive;
}

form>input:last-child:hover {
	opacity: .5;
}

.check {
	margin: 36px 0;
}

.contenido {
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60vw;
	height: 30vh;  
	margin-top: -15vh; 
	margin-left:-30vw;
	font-family: 'Monoton', cursive;
	min-height: 300px;
	background-color: black;
	box-shadow: 0 0 10px black, 0 0 40px black,0 0 70px black,0 0 100px black;
}

@media screen and (max-width: 1120px) {
	.contenido{
	  width: 100%; 
	  box-shadow: none;
	  margin-left:0;
	  left:0;
	  top: 40%;
	  min-width: 100px;
	}
	
	#searchForm{
		width:100%;
	}
 
}
