body {
	background-image:
		url("https://los40.com/los40/imagenes/2018/07/04/musica/1530694278_684908_1530701108_gigante_normal.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: left center;
}
